# Server port
PORT=3000
FRONTEND_URL=http://localhost:5173
NODE_ENV=development

# Supabase but optional
# Leave blank to use local data files instead.
# Only needed if you want to store/read data from Supabase cloud DB.
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
